{
  "env": {
    "browser": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "brace-style": [2, "1tbs"],
    "camelcase": 2,
    "curly": [2,"all"],
    "semi": [2, "always"],
    "array-bracket-spacing": [2, "never"],
    "object-curly-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "space-infix-ops": 2,
    "comma-dangle": [2, "never"],
    "strict": 2,
    "default-case": 2
  }
}